# Ignore virtual environment
.venv/
env/
venv/

# Bytecode files
__pycache__/
*.pyc

# Data folders (if large or sensitive)
data/
# output/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables file (if you use .env)
.env
